<!-- blog/category_post.html -->

{% extends 'blog/base.html' %}

{% block content %}
<h1>「{{ category.name }}」の投稿一覧</h1>
<ul>
    {% for post in object_list %}
        {% if user.is_authenticated or post.is_public %}
            <div class="date">
                投稿日 :{{ post.created_date }}
                {% if post.updated_date %}
                    更新日 :{{ post.updated_date }}
                {% endif %}
            </div>
            <p>{% if not post.is_public %}[下書き]{% endif %}
                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p>
        {% endif %}
        {% empty %}
            <li>まだ投稿はありません。</li>
    {% endfor %}
    {% include "blog/pagination.html" %}
</ul>
{% endblock %}